#loader {
  position: fixed; top: 0; left: 0; z-index: 3;
  width: 100%; height: 100vh; background: black;
  font-family: courier, monospace; color: white;
  display: flex; align-items: center; justify-content: center;

  svg {
    width: 50px; height: auto;
    .l1 { opacity: 0; }
    .l2 { opacity: 0; } }
}
