#loader {
  position: fixed; top: 0; left: 0; z-index: 3;
  width: 100%; height: 100vh; background: black;
  font-family: courier, monospace; color: white;
  display: flex; align-items: center; justify-content: center;

  svg {
    width: 100px; height: auto;
    .l1 {
      stroke-dasharray: 798.0558px;
      stroke-dashoffset: 798.0558px;
      animation: plane-l1 3s infinite ease-in; }
    .l2 {
      stroke-dasharray: 580.44714px;
      stroke-dashoffset: -580.44714px;
      animation: plane-l2 3s infinite ease-in;
    }
  }
}


@keyframes plane-l1 {
  20% { stroke-dashoffset: 0px; }
  40% { stroke-dashoffset: 0px; }
  60% { stroke-dashoffset: -798.0558px; }
  80% { stroke-dashoffset: -798.0558px; }
  100% { stroke-dashoffset: -798.0558px; }
}

@keyframes plane-l2 {
  6% { stroke-dashoffset: -580.44714px; }
  20% { stroke-dashoffset: 0px; }
  46% { stroke-dashoffset: 0px; }
  60% { stroke-dashoffset: 580.44714px; }
  80% { stroke-dashoffset: 580.44714px; }
  100% { stroke-dashoffset: 580.44714px; }
}
