$size__site-main: 100%;
$size__site-sidebar: 25%;

$layout__navBannerHeight: 1.2em;
$layout__navBannerPaddingBottom: 0.66em;
$layout__navBannerPaddingTop: 3em;
$layout__navBannerMarginBottom: 2em;
$layout__navBannerBorderBottom: 1em / 16;
$layout__navBannerPaddingHorizontal: 4em;
$layout__navHeight: $layout__navBannerPaddingTop + $layout__navBannerHeight + $layout__navBannerPaddingBottom + $layout__navBannerBorderBottom + $layout__navBannerMarginBottom;

// padding-bottom + font-size + padding-top + border-top + margin-top
$layout__footerHeight: calc(2em + 0.9em + 1em + 1px + 4em);

$layout__mobile__navBannerPaddingTop: 1.75em;
$layout__mobile__navBannerPaddingHorizontal: 1.5em;
$layout__mobile__navHeight: $layout__mobile__navBannerPaddingTop + $layout__navBannerHeight + $layout__navBannerPaddingBottom + $layout__navBannerBorderBottom + $layout__navBannerMarginBottom;
