.sticky {
	display: block;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.site-content { position: relative; }

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

#content {
	box-sizing: border-box;
	min-height: calc(100vh);
	padding-top: $layout__navHeight;
	padding-left: $layout__navBannerPaddingHorizontal;
	padding-right: $layout__navBannerPaddingHorizontal;
	padding-bottom: $layout__footerHeight + 2em;
 	&:before {
		content: ""; position: fixed; top: 0; left: 0; width: 100%;
		height: $layout__navHeight - $layout__navBannerMarginBottom; // refactor l8r
		background-color: inherit; z-index: 1;
	} }

@media screen and (max-width: 600px) {
	#content {
		padding-top: $layout__mobile__navHeight;
		padding-left: $layout__mobile__navBannerPaddingHorizontal;
		padding-right: $layout__mobile__navBannerPaddingHorizontal;
		&:before {
			height: $layout__mobile__navHeight - $layout__navBannerMarginBottom; // refactor l8r
		}
	}
}
