html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: $color__background-body; /* Fallback for when there is no custom background color defined. */
	font-family: 'Visuelt', courier;
	position: relative;
}

#content[data-theme="dark"] { color: white; }
#content[data-theme="light"] { color: black; }
#pageWipe {
	position: fixed; top: 0; left: 0; width: 100vw; height: 100vh; z-index: 1;
	background: black; transform: translateY(-100%); }

.anim-fade {opacity: 0;}
.anim-scale-up {transform: scale(0.66);}
.anim-scale-down {transform: scale(1.2);}
.anim-over {transform: translate(0,-1em);}
.anim-right {transform: translate(1em,0);}
.anim-left {transform: translate(-1em,0);}
.anim-under {transform: translate(0,1em);}
*[class^=anim-], *[class*= anim-] {
  transition: opacity 0.66s ease, transform 0.66s ease; transform-origin: center center;
  &.anim-active { opacity: 1; transform: translate(0,0) scale(1); } }

hr {
	background-color: $color__background-hr;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

#masthead { position: relative; z-index: 2; }

@import "lists";

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

figure {
	margin: 1em 0; /* Extra wide images within figure tags don't overflow the content area. */
}

@import "tables";

@import "footer";
