.site-footer {
	display: flex; justify-content: space-between; bottom: 0;
  left: $layout__navBannerPaddingHorizontal; position: absolute;
	width: calc(100% - #{$layout__navBannerPaddingHorizontal * 2});
	border-top: 1px solid; padding-bottom: 2em;
	padding-top: 1em; z-index: 1;
  > * { font-size: 0.9em; }
}

@media screen and (max-width: 600px) {
	.site-footer {
		> * { font-size: 0.8em; }
    left: $layout__mobile__navBannerPaddingHorizontal;
		width: calc(100% - #{$layout__mobile__navBannerPaddingHorizontal * 2}); }
}

@media screen and (max-width: 480px) {
	.site-footer {
		> * { font-size: 0.5em; } }
}
