#content.about {
  padding-bottom: 4em;
  padding-top: $layout__navBannerPaddingTop + $layout__navBannerHeight + $layout__navBannerPaddingBottom + $layout__navBannerBorderBottom;
  .row {
    &.primary {
      border-bottom: 1px solid white; min-height: 12em;
      padding-top: 1.5em; box-sizing: border-box;
      &:last-of-type { border-bottom: none; }
      .head {
        display: grid; grid-template-columns: 1fr 0.8fr; grid-column-gap: 2em;
        &.solo { display: block; }
        .title { margin: 0; font-size: 6em; margin-bottom: 1em; line-height: 1.2em; }
        .desc { width: 80%; font-size: 1em; } } }
      .list {
        .item {
          display: grid; grid-template-columns: 1fr 0.8fr;
          border-top: 1px solid rgba(64, 64, 64, 1); margin-bottom: 2em; }
        .count { color: red; font-size: 20em; margin: 0; line-height: 1em; }
        .info {
          margin-top: 2em;
          .title {
            margin: 0; font-size: 2.8em; font-weight: normal;
            &:before { content: attr(data-count); color: red; display: block; line-height: 0.5em; font-size: 0.5em; } }
          .subtitle { color: red; text-transform: uppercase; font-weight: normal; font-size: 0.9em; }
          ul {
            margin: 0; padding: 0; list-style-type: none;
            display: grid; grid-template-columns: 1fr 1fr;
            grid-column-gap: 0.25em; grid-row-gap: 0.25em;
            li {
              position: relative;
              &:before { content: "\2014"; position: absolute; }
              .label {
                text-transform: uppercase; margin-left: 1em; display: block; }
              .sub { display: block; margin-left: 3em; } } } } } } }

@media screen and (max-width: 1200px) {
  #content.about {
    .row {
      &.primary {
        .head {
          .title { font-size: 4em; } } } } }
}

@media screen and (max-width: 1000px) {
  #content.about {
    .row {
      &.primary {
        .list {
          .item { grid-template-columns: 1fr 1.8fr; }
          .count { font-size: 12em; } } } } }
}

@media screen and (max-width: 880px) {
  #content.about {
    .row {
      &.primary {
        .head {
          grid-template-columns: 1fr;
          &.solo { margin-bottom: 1em; }
          .title { margin-bottom: 0em; }
          .desc { margin-bottom: 4em; } }
        .list {
          margin-top: 4em;
          .item {
            grid-template-columns: 1fr; border-top: none; margin-bottom: 4em; }
          .info {
            .title {
              display: inline-grid;
              > * { justify-self: space-between; }
              &:before {
                display: inline-block; font-size: 6em; font-weight: bold; } } }
          .count { display: none; } } } } }
}

@media screen and (max-width: 600px) {
  #content.about {
    padding-top: $layout__mobile__navBannerPaddingTop + $layout__navBannerHeight + $layout__navBannerPaddingBottom + $layout__navBannerBorderBottom;
    .row {
      &.primary {
        .head {
          grid-template-columns: 1fr;
          .title { font-size: 2.5em; } }
        .list {
          .info {
            ul { grid-template-columns: 1fr; }
            .title { font-size: 2em; } }
          .item { grid-template-columns: 1fr; } } } } }
}

@media screen and (max-width: 480px) {
  #content.about {
    .row {
      &.primary {
        .head {
          .title { font-size: 1.5em; } } } } }
}
