#content.contact {
  .banner {
    .text {
      color: rgba(194,191,181,1);
      p {
        @include page-title-base;
        @include page-title-desktop; } }
  }
  .grid {
    margin-top: 4em;
    display: grid; width: 100%;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto; grid-column-gap: 1em; grid-row-gap: 1em;
    p { margin: 0 }
    .contact {
      .label { font-size: 1em; font-weight: normal; }
      .link {
        font-size: 2em; color: black; text-decoration: none;
        &:hover { text-decoration: underline; } } }
    .social {
      .label { font-size: 1em; font-weight: normal; margin-bottom: 0.25em; }
      .link {
        font-size: 2em; color: black; text-decoration: none;
        display: inline-block; margin-right: 0.2em;
        &:last-of-type { margin-right: 0em; }
        img { width: 1em; } } }
    .tag { .text { font-size: 1em; font-weight: normal; } }
    .item { h5 { margin: 0; } } }

  .logo {
    display: block; position: absolute;
    bottom: 5em;
    right: $layout__navBannerPaddingHorizontal;
    svg {
      width: auto; height: 4em;
      * { stroke: black; } } }
}

@media screen and (max-width: 1000px) {
  #content.contact {
    .banner {
      .text { p { @include page-title-tablet; } }
    }
    .grid {
      .contact {
        .label { font-size: 0.8em }
        .link { font-size: 1em; } }
      .social {
        .label { font-size: 0.8em }
        .link { font-size: 1.5em; } }
    }
    .logo svg { font-size: 0.8em; }
  }
}

@media screen and (max-width: 600px) {
  #content.contact {
    // margin-bottom: -1.5em;
    .banner {
      .text { p { @include page-title-mobile; } }
    }
    .item {
      margin-bottom: 1em; }
    .grid {
      margin-top: 2em; display: flex; flex-flow: column;
      .contact {
        .label { font-size: 1em }
        .link { font-size: 1.5em; } }
      .social {
        .label { font-size: 1em }
        .link { font-size: 2em; } } }
    .phone { margin-top: 1em; }
    .tag { margin-top: 1em; margin-bottom: 0em; }
    .logo {
      height: 4em;
      right: $layout__mobile__navBannerPaddingHorizontal; }
  }
}
