#content.vt_project {
  padding: 0;
  animation: project-in 0.5s ease both; z-index: 1;
  .layout {
    width: calc(100% - #{$layout__navBannerPaddingHorizontal * 2});
    max-width: 1200px;
    margin: 0 auto 2em; position: relative;
    &.generic, &.credits, &.title, { max-width: 1000px; }
    &.headspace {
      height: $layout__navHeight; }
    &.marquee-video {
      position: relative; width: 100%; padding-bottom: 56.25%; max-width: none;
      z-index: 2;
      .cover {
        position: absolute; top: 0; left: 0; width: 100%; height: 100%; display: flex;
        overflow: hidden;
        img {
          position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover; }
        .ctrl {
          position: relative; margin: auto;
        .play-btn {
          width: 7em; height: 3.5em;
          cursor: pointer;
          position: relative;
          display: block;
          border-radius: 0.5em;
          background: white;
          transition: border-color 0.33s ease;
          box-sizing: border-box;
          .play {
            position: absolute; top: 50%; left: 50%;
            transform: scale(1) translate(-40%, -50%);
            transition: transform 0.2s cubic-bezier(0.58, 0.63, 0.69, 1.46), opacity 0.33s ease;
            transform-origin: top left; border-left: 1.25em solid black;
            border-bottom: 0.75em solid transparent; border-top: 0.75em solid transparent; }
          .loader svg {
              position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);
              height: 60%; width: auto; * { stroke: black; }
              .l1 { animation: plane-l1 1s ease infinite; }
              .l2 { animation: plane-l2 1s ease infinite; } }
          &:hover {
            .play {
              transform: scale(0.8) translate(-40%, -50%); } }
          &.loading {
            .play { opacity: 0; transform: scale(1) translate(-40%, -50%); } }

        } } }
      .embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
      iframe { position: absolute; top: 0; left: 0; width: 100%; height: 100%; } }
    &.credits {
      color: rgba(110,112,102,1);
      .heading { font-size: 0.8em; font-weight: normal; }
      .group { margin-bottom: 2em; }
      .lines { display: grid; grid-template-columns: auto auto auto auto; }
      .line { display: block; font-size: 0.8em; } }
    &.slideshow {
      position: relative; padding-bottom: 56.25%;
      user-select: none;
      .ctrl {
        font-family: courier, monospace; font-size: 1em; cursor: pointer;
        position: absolute; top: 50%; transform: translateY(-50%); display: block;
        &.prev { left: 2em; }
        &.next { right: 2em; }
        svg { width: 3em; height: auto; }
        circle { fill: rgba(0,0,0,1); opacity: 0.2; transition: opacity 0.2s ease; }
        &:hover { circle { opacity: 0.4; } } }
      .item {
        position: absolute; top: 0; left: 0; width: 100%; height: 100%;
        display: none;
        &[active="true"] { display: block; }
        img { width: 100%; height: 100%; object-fit: cover; } } }
    &.gallery {
      display: grid; grid-template-columns: 1fr 1fr;
      grid-column-gap: 1em; grid-row-gap: 1em;
      .item {
        display: inline-block; user-select: none; width: 100%; overflow: hidden;
        .caption { display: none; }
        img { cursor: pointer; width: 100%; height: auto; display: block; } } } }
  .post-navigation {
    width: 80%; margin: 0 auto 4em; display: flex; justify-content: space-between;
    a { color: $color__red; }
  }
}

@keyframes project-in {
  from { opacity: 0 }
  to { opacity: 1 }
}

@media screen and (max-width: 768px) {
  #content.vt_project {
    .layout {
      &.credits {
        .lines { grid-template-columns: auto auto; } } } }
}

/* Mobile Padding */
@media screen and (max-width: 600px) {
  #content.vt_project {
    padding-top: $layout__mobile__navHeight;
    .layout {
      width: calc(100% - #{$layout__mobile__navBannerPaddingHorizontal * 2});
      &.headspace { display: none; }
      &.generic { * { font-size: 0.9em; } }
      &.title { * { font-size: 1em; } }
      &.marquee-video {
        z-index: 0;
        width: calc(100% - #{$layout__mobile__navBannerPaddingHorizontal * 2});
        .cover .ctrl .play-btn { font-size: 0.66em; } }
      &.gallery {
        grid-template-columns: 1fr; grid-row-gap: 1em;
        .item { transform: translateY(0px)!important; } }
      &.credits {
        .lines { grid-template-columns: auto auto; } } } }
}

@media screen and (max-width: 480px) {
  #content.vt_project {
    .layout {
      &.credits {
        .lines { grid-template-columns: auto; } } } }
}
