#content.team {
  .page-title {
    @include page-title-base();
    @include page-title-desktop();
    margin-bottom: 0.5em; }
  .staff {
		display: grid; grid-template-columns: 1fr 1fr 1fr 1fr; grid-template-rows: auto;
    grid-column-gap: 1em; grid-row-gap: 1em;
    .member { margin-bottom: 2em; }
    .headshot {
      position: relative; width: 100%; padding-bottom: 120%; overflow: hidden;
      img {
        position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover; } }
    .name {
      margin: 1em 0 0em;
      @include item-label-base();
      font-weight: normal; text-decoration: underline }
    .role { margin-bottom: 0; @include item-label-base(); @include item-label-sub; } } }

@media screen and (max-width: 1000px) {
  #content.team {
    .page-title { @include page-title-tablet(); }
    .staff { grid-template-columns: 1fr 1fr 1fr; } }
}

@media screen and (max-width: 768px) {
  #content.team {
    .staff { grid-template-columns: 1fr 1fr; } }
}

@media screen and (max-width: 600px) {
  #content.team {
    .page-title { @include page-title-mobile(); } }
}
