#content.work {
  z-index: 0; position: relative;
  .ctrl {
    display: flex; justify-content: space-between; align-items: flex-end;
    .grid {
      white-space: nowrap; margin-bottom: 0.1em;
      .option {
        cursor: pointer; display: inline-block; width: 1em;
        &:nth-of-type(2) { font-size: 1.2em }
        &:nth-of-type(3) { font-size: 1.4em }
        transform-origin: center center;
        transform: scale(0.9);
        transition: transform 0.2s ease;
        vertical-align: middle;
        svg { display: block; }
        svg rect { fill: rgba(110,112,102,1); transition: fill 0.2s ease; }
        &.active {
          transform: scale(1);
          svg rect { fill: rgba(0,0,0,1); } } } } }
  .filter {
    margin-bottom: 1em;
    .toggle {
      cursor: pointer; white-space: nowrap;
      .mark {
        width: 0.8em; transition: transform 0.2s ease; display: inline-block;
        svg { width: 100%; height: auto; } } } }
  .cat {
    font-size: 0.9em; margin-right: 0.5em; cursor: pointer;
    &:first-of-type { margin-left: 0.5em; }
    &:last-of-type { margin-right: 0; }
    &[active="true"] { text-decoration: underline; } }
	.projects {
		display: grid; grid-column-gap: 1em; grid-row-gap: 1em; }
  .project {
    display: none; text-decoration: none; color: black; position: relative;
    .label-cnr { position: relative; }
    .label {
      @include item-label-base();
      &.sub { @include item-label-sub(); } }
    &[active="true"] { display: block; }
    .preview {
      position: relative; width: 100%; padding-bottom: 56.25%; overflow: hidden;
      margin-bottom: 0.66em;
      img {
        position: absolute; width: 100%; height: 100%; top: 0; left: 0;
        transition: all 0.5s ease; filter: saturate(0); transform: scale(1.1);
        transform-origin: center center; } }
    &:hover {
      .preview {
        img {
          transform: scale(1); filter: saturate(1);
        }
      }
    } } }

@media screen and (max-width: 768px) {
  #content.work {
    .project {
      font-size: 0.9em; } }
}

@media screen and (max-width: 600px) {
  #content.work {
    .ctrl {
      .grid { display: none; } }
    .project {
      .preview { margin-bottom: 0; }
      .label-cnr {
        position: absolute; color: white; left: 0.75em; bottom: 0.5em;
        font-size: 1.2em;
        .main { font-weight: bold; } } }
    .projects {
      grid-template-columns: 1fr!important; } }
}
