html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: $color__background-body; /* Fallback for when there is no custom background color defined. */
	font-family: 'Visuelt', courier;
}

#content[data-theme="dark"] { background: black; color: white; }
#content[data-theme="light"] { background: white; color: black; }
#pageWipe {
	position: fixed; top: 0; left: 0; width: 100vw; height: 100vh; z-index: 1;
	background: pink; transform: translateY(-100%);
}
// body.trans {
// 	#pageWipe { transform: translateY(0); transition: transform 0.5s ease; }
// }

hr {
	background-color: $color__background-hr;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

#masthead { position: relative; z-index: 2; }

@import "lists";

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

figure {
	margin: 1em 0; /* Extra wide images within figure tags don't overflow the content area. */
}

@import "tables"
