.main-navigation {
	display: block; width: 100%; padding: 2em 2em 0em;

	.home-link {
		display: inline-block; vertical-align: middle;
		img, svg { width: 200px; height: auto; }
	}

	.banner {
		display: flex; justify-content: space-between; align-items: center;
	 	margin-bottom: 2em; border-width: 0px; border-bottom-width: 2px; border-style: solid; }

	&.theme-dark {
		.banner { border-color: white; } }

	&.theme-light {
		.banner { border-color: black; } }

	.menu {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;
		position: absolute;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		position: relative; margin-bottom: 1em; display: block;
		font-size: 2em;
		&:last-of-type { margin-bottom: 0em; }

		&:hover > a,
		&.focus > a {
		}

		a {
			color: white; display: inline-block;
			&:hover, &:focus { color: red; } }
	}

	a {
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}

	&.toggled {
		background: black; min-height: 100vh;
		.menu { display: block; } }
}

.menu-toggle {
	display: inline-block;
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
