.main-navigation {
	display: block; width: 100%;
	position: fixed;
	padding: $layout__navBannerPaddingTop $layout__navBannerPaddingHorizontal 0em;

	.home-link {
		display: inline-block; vertical-align: middle; position: relative;
		img, svg {
			height: $layout__navBannerHeight; width: auto;
			&.theme-light { position: absolute; top: 0; left: 0; }
		}
	}

	.banner {
		display: flex; justify-content: space-between; align-items: center; position: relative;
	 	padding-bottom: $layout__navBannerPaddingBottom; border-width: 0px;
		border-bottom-width: $layout__navBannerBorderBottom; border-style: solid;
	 	margin-bottom: $layout__navBannerMarginBottom; }

	// CSS Defaults --> override with use
	&[data-theme="dark"] {
		.home-link img { &.theme-dark { opacity: 1; } }
		.home-link img { &.theme-light { opacity: 0; } }
		.banner { border-color: white; } }

	&[data-theme="light"] {
		.home-link img { &.theme-dark { opacity: 0; } }
		.home-link img { &.theme-light { opacity: 1; } }
		.banner { border-color: black; } }

	.menu {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;
		position: absolute;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		position: relative; margin-bottom: 1em; display: block;
		font-size: 2em;
		&:last-of-type { margin-bottom: 0em; }

		&:hover > a,
		&.focus > a {
		}

		a {
			color: white; display: inline-block;
			&:hover, &:focus { color: red; } }
	}

	a {
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}

	&:before {
		content: ""; position: absolute; top: 0; left: 0; width: 100vw; height: 100vh;
		background: rgba(20,20,20,1); transform: translateY(100%);
	}

	&.toggled {
		min-height: 100vh;
		.home-link { img, svg { transition: opacity 0.5s ease; } }
		.banner { transition: border-color 0.5s ease; }
		&:before { transition: transform 0.5s ease; transform: translateY(0%); }
		.menu {
			display: block; animation: menu-in 0.5s ease both; animation-delay: 0.5s; }
		&.exiting {
			.menu {
				animation: menu-out 0.5s ease both; animation-delay: 0s; }
			&:before { transform: translateY(-100%); } } }
}

.menu-toggle {
	display: inline-block;
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}

@keyframes menu-in {
	from { opacity: 0 }
	to { opacity: 1 }
}

@keyframes menu-out {
	from { opacity: 1 }
	to { opacity: 0 }
}
