#page.contact {
  .grid {
    display: grid; width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    .item { h5 { margin: 0; } }
    .item.social { img { width: 20px; height: auto; } } }
  }
