#content.home {
	color: black;
	padding-top: 0; padding-left: 0; padding-right: 0;
	position: relative; z-index: 0;
	video.reel {
		position: fixed; top: 0; left: 0; width: 100vw; height: 100vh;
	 	object-fit: cover; }
}

article.page.home {
	position: relative;
	box-sizing: border-box;
	min-height: 100vh;
	padding-top: $layout__navHeight;
	padding-left: $layout__navBannerPaddingHorizontal;
	padding-right: $layout__navBannerPaddingHorizontal;
	
	&:before {
		content: "";
		position: fixed; top: 0; left: 0; width: 100vw; height: 100vh;
		background: rgba(111, 113, 102, 1); z-index: 0;
	}

	.layout {
		position: relative;
		&.banner { font-size: 3em; p { margin: 0 0 1em; } }
		&.grid {
			display: grid; grid-template-columns: 1fr 1fr 1fr;
			grid-template-rows: auto; grid-gap: 3em;
			font-size: 1.66em;
		}
	}

	.close { cursor: pointer; position: absolute; }
}
