#content.home {
	color: white;
	background: black;
	padding-top: 0; padding-left: 0; padding-right: 0;
	position: relative;
	video.reel {
		position: fixed; top: 0; left: 0; width: 100vw; height: 100vh;
	 	object-fit: cover; }
}

article.page.home {
	position: relative;
	box-sizing: border-box;
	padding-top: $layout__navHeight;
	padding-left: $layout__navBannerPaddingHorizontal;
	padding-right: $layout__navBannerPaddingHorizontal;
	will-change: opacity;

	main {
		min-height: calc(100vh - #{$layout__navHeight}); position: relative;
		width: 90%; margin: 0 auto; box-sizing: border-box; display: grid;
		grid-template-rows: auto minmax(5em, auto); align-items: center;
		justify-items: center; }

	&:before {
		content: "";
		position: fixed; top: 0; left: 0; width: 100vw; height: 100vh;
		background: rgba(0, 0, 0, 0.75); z-index: 0; }
	&:after {
		content: "";
		position: relative; width: 100%; height: 100vh;
		display: block; }

	.layout {
		position: relative;
		transition: all 0.5s ease;
		&.banner {
			font-size: 3em; text-align: justify;
			.mobile { display: none; }
			p { margin: 0; }
			section { display: inline; } }
		&.grid {
			display: grid; grid-template-columns: 1fr 1fr 1fr;
			grid-template-rows: auto; grid-gap: 3em;
			line-height: 1.2em;
			font-size: 1.5em;
			margin-bottom: 2em;
			p {margin: 0;}
		}
	}

	.close {
		cursor: pointer; }
}

#intro {
	display: none; background: black; position: fixed; top: 0; left: 0;
	width: 100%; height: 100vh; z-index: 3;
	svg { width: 80%; height: auto; margin: 0 auto; opacity: 0; }
}

@keyframes intro {
	0% { opacity: 0 }
	20% { opacity: 1 }
	50% { opacity: 1 }
	100% { opacity: 0 }
}

@media screen and (min-width: 1440px) {
	article.page.home {
		.layout {
		&.banner { font-size: 3.5vw; } }
	}
}

@media screen and (max-width: 1000px) {
	article.page.home {
		.layout {
		&.banner { font-size: 2.5em; } }
	}
}

@media screen and (max-width: 768px) {
	article.page.home {
		.layout {
		&.banner { font-size: 2em; } }
	}
}

@media screen and (min-width: 600px) {
	article.page.home {
		.layout.banner section { transition-delay: 0s!important; } }
}

@media screen and (max-width: 600px) {
	article.page.home {
		padding-top: $layout__mobile__navHeight;
		padding-left: $layout__mobile__navBannerPaddingHorizontal;
		padding-right: $layout__mobile__navBannerPaddingHorizontal;
		main { grid-template-rows: auto minmax(5em,auto); width: 100%; }
		.layout {
		&.banner {
			font-size: 1.5em; text-align: left;
			.mobile { display: inline; }
			section {
				display: block; margin-bottom: 1.6em;
    		line-height: 1.25em;
				&:last-of-type { margin-bottom: 0 } }
		} }
	}
}

@media screen and (max-width: 480px) {
	article.page.home {
		.layout {
		&.banner {  } }
	}
}
