.work {
  .ctrl {
    display: flex; justify-content: space-between; align-items: center;
    .grid { white-space: nowrap; } }
  .filter {
    display: flex; align-items: inherit;
    .toggle {
      cursor: pointer; white-space: nowrap; } }
  .cats {
    display: flex; flex-flow: row wrap; margin-left: 1em; }
  .cat {
    margin-right: 0.5em; cursor: pointer;
    &:last-of-type { margin-right: 0; }
    &[active="true"] { text-decoration: underline; } }
	.projects {
		display: grid; grid-gap: 1em; }
  .project {
    display: none;
    &[active="true"] { display: block; } } }

@media screen and (max-width: 480px) {
  .work {
    .ctrl {
      .grid { display: none; } }
    .projects {
      grid-template-columns: 1fr!important;
    }
  }
}
