#content.vt_project {
  padding: 0;
  animation: project-in 0.5s ease both; z-index: 1;
  .layout {
    width: 80%; margin: 0 auto 2em; position: relative;
    &.headspace {
      height: $layout__navHeight; }
    &.marquee-video {
      position: relative; width: 100%; padding-bottom: 56.25%;
      .cover {
        position: absolute; top: 0; left: 0; width: 100%; height: 100%; display: flex;
        overflow: hidden;
        img {
          position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover; }
        .ctrl {
          position: relative; margin: auto;
        .play {
          width: 7em; height: 3.5em;
          cursor: pointer;
          position: relative;
          display: block;
          &:before {
            content: "";
            position: absolute; top: 0; left: 0; width: 100%; height: 100%;
            border: 2px solid white;
            border-radius: 0.5em;
            transition: transform 0.2s cubic-bezier(0.58, 0.63, 0.69, 1.46);
            transform-origin: center center;
          }
          &:after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: scale(1) translate(-40%, -50%);
            transition: transform 0.2s cubic-bezier(0.58, 0.63, 0.69, 1.46);
            transform-origin: top left;
            border-left: 1.25em solid white;
            border-bottom: 0.75em solid transparent;
            border-top: 0.75em solid transparent;
          }
          &:hover {
            &:before {
              transform: scale(1.2);
            }
            &:after {
              transform: scale(0.8) translate(-40%, -50%);
            }
          }
        } } }
      .embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
      iframe { position: absolute; top: 0; left: 0; width: 100%; height: 100%; } }
    &.credits {
      .lines { display: grid; grid-template-columns: 1fr 1fr 1fr 1fr; } }
    &.slideshow {
      position: relative; padding-bottom: 56.25%;
      width: calc(100% - #{$layout__navBannerPaddingHorizontal * 2});
      .ctrl {
        font-family: courier, monospace; font-size: 3em; cursor: pointer;
        position: absolute; top: 50%; transform: translateY(-50%);
        &.prev { left: 1em; }
        &.next { right: 1em; } }
      .item {
        position: absolute; top: 0; left: 0; width: 100%; height: 100%;
        display: none;
        &[active="true"] { display: block; }
        img { width: 100%; height: 100%; object-fit: cover; } } }
    &.gallery {
      display: grid; grid-template-columns: 1fr 1fr;
      grid-template-rows: auto; grid-gap: 2em;
      width: calc(100% - #{$layout__navBannerPaddingHorizontal * 2});
      .item {
        display: inline-block;
        img { width: 100%; height: auto; } } } }
  .post-navigation {
    width: 80%; margin: 0 auto 4em; display: flex; justify-content: space-between;
    a { color: red; }
  }
}

@keyframes project-in {
  from { opacity: 0 }
  to { opacity: 1 }
}
