article.vt_project {
  .layout {
    width: 80%; margin: 0 auto 2em;
    &.marquee-video {
      position: relative; width: 100%; padding-bottom: 56.25%;
      iframe { position: absolute; top: 0; left: 0; width: 100%; height: 100%; } }
    &.credits {
      display: grid; grid-template-columns: 1fr 1fr 1fr 1fr; }
    &.slideshow {
      position: relative; width: 100%; padding-bottom: 56.25%;
      .ctrl {
        font-family: courier, monospace; font-size: 3em; cursor: pointer;
        position: absolute; top: 50%; transform: translateY(-50%);
        &.prev { left: 1em; }
        &.next { right: 1em; } }
      .item {
        position: absolute; top: 0; left: 0; width: 100%; height: 100%;
        display: none;
        &[active="true"] { display: block; }
        img { width: 100%; height: 100%; object-fit: cover; } } }
    &.gallery {
      width: 90%; display: grid; grid-template-columns: 1fr 1fr;
      grid-template-rows: auto; grid-gap: 2em;
      .item {
        display: inline-block;
        img { width: 100%; height: auto; } } }
  } }
